body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    background-color: #212121;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 20px; /* Add margin around the container */
}

.file-name {
    color: white;
    word-wrap: break-word; /* Allow long words to be broken and wrap to the next line */
    white-space: normal; /* Allow text to wrap */
    display: block;
    width: 100%;
}

.icon {
    height: 60px;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.card {
    background-color: #7b7b7b;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
